

/* html {
    font-family: 'Roboto Mono';

}


body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}
.main-container{
    margin: auto;
    width: 100%;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    /* margin-top: 5%;
    margin-bottom: 5%;
    gap: 3%;
    
}

header-text {
    display: block;
    text-align: center;
}

h2 {
    color: lightslategrey;
}

#me-img {
    width: 20%;
    max-width: 840px;
    height: auto;
} */ */